<%= @game.player_1.name  %> vs. <%= @game.player_2.name  %>

</p>
<%= @game.player_2.name  %>: <%= @game.player_2.hit_points %>HP
</p>

<%= @game.current_turn.name %>'s turn

</p>

<a href="/attack">Attack</a>

